.form-outer{
    width: 70%;
    height: 100%;
    /* background-color: red; */
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.form-outer .form-inner{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column; 

    
}

.form-inner input{
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    outline: none;
    border-radius: 5px;
    padding:0 10px;
    margin-bottom:  10px;
}

.form-inner label{
    font-size: 20px;
    margin-bottom: 10px;

}

.form-inner button{
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #4caf50;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    margin: 10px;
}
